@font-face {
    font-family: DancingScript;
    src: url(fonts/DancingScript-VariableFont_wght.ttf);
}

body { 
    background-image: url("../img/slipknot-posts-video-tribute-to.jpg");

}

.h1 { 
    color: white;
    font-family: DancingScript;
    text-shadow: 3px 3px 3px rgb(244, 88, 88);
    font-size: 4em;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

a {
    color: white;
    font-size: 2em;
    text-decoration: none;
}