:root {
  /* vars */
  --font-color: #fff;
  --font-family: 'Abril Fatface', cursive;
  --font-size: 20px;
  --bg-color: #000;

  font-family: var(--font-family);

  color-scheme: dark;
  color: var(--font-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  max-width: 1280px;
  margin: auto;
}
