:root {
  font-family: 'Abril Fatface', cursive;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* vars */
  --phone-maxwidth: 720px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  max-width: 1280px;
  margin: auto;
}
