.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 9em;
  padding: 1em;
}

.MainLogo {
  height: inherit;
}

.Items__Links {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.Items__NavLink {
  padding: 1em;
  font-size: 1.35em;
}

@media (max-width: 720px) {
  .Nav {
    flex-direction: column;
  }

  .Items__Links {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
